<html>

{{> header}}
<body>
    <h1>Home Page</h1>
    <p>This is my Home page body.</p>
    <!--<p>Welcome {{user}}. Today is: {{today}}</p>-->
    <p>Welcome {{user}}. Today Year is: {{getCurrentYear}}</p>
    {{> footer}}
</body>
</html>